### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### Importing dataset

In [2]:
data=pd.read_csv('advertising.csv')
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
data.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [4]:
## So In this data we don't have any missing values & also don't have any categorical values

### Declare dependent & independent variables

In [19]:
X=data.iloc[:,0:3].values
y=data.iloc[:,-1].values

In [20]:
X.shape

(200, 3)

In [21]:
y.shape

(200,)

### Splinting the data

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split( X,y, test_size=0.25,random_state=42 )

### Train the model

In [23]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

### Test the model

In [33]:
y_pred= regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[17.04 16.9 ]
 [20.4  22.4 ]
 [23.75 21.4 ]
 [ 9.26  7.3 ]
 [21.68 24.7 ]
 [12.56 12.6 ]
 [21.08 22.3 ]
 [ 8.71  8.4 ]
 [17.28 16.5 ]
 [16.68 16.1 ]
 [ 8.93 11.  ]
 [ 8.51  8.7 ]
 [18.25 16.9 ]
 [ 8.06  5.3 ]
 [12.68 10.3 ]
 [14.97 16.7 ]
 [ 8.12  5.5 ]
 [17.92 16.6 ]
 [11.02 11.3 ]
 [20.5  18.9 ]
 [20.82 19.7 ]
 [12.59 12.5 ]
 [10.89 10.9 ]
 [22.4  22.2 ]
 [ 9.44 11.3 ]
 [ 7.96  8.1 ]
 [20.84 21.7 ]
 [13.84 13.4 ]
 [10.79 10.6 ]
 [ 7.92  5.7 ]
 [16.   15.6 ]
 [10.64 11.3 ]
 [20.79 23.7 ]
 [10.41  8.7 ]
 [21.62 16.1 ]
 [21.2  20.7 ]
 [12.1  11.6 ]
 [22.83 20.8 ]
 [12.63 11.9 ]
 [ 6.49  6.9 ]
 [11.94 11.  ]
 [15.36 14.8 ]
 [ 9.91 10.1 ]
 [ 9.48  9.7 ]
 [17.28 16.6 ]
 [ 7.26  7.6 ]
 [10.37 10.5 ]
 [15.25 14.6 ]
 [11.17 10.4 ]
 [11.72 12.  ]]